/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	display: flex;
	font-family: "Nunito", sans-serif;
}
ul {
	list-style: none;
	line-height: 1.5;
}

p {
	text-decoration: none;
}

/*Removes underline in links*/
a:link {
	text-decoration: none;
	color: #1f3516;
}
a:visited {
	text-decoration: none;
	color: #1f3516;
}
a:hover {
	text-decoration: none;
	color: #1f3516;
}
a:active {
	text-decoration: none;
	color: #1f3516;
}

/******************************************
/* HEADER
/*******************************************/
hr {
	margin: 5px auto;
	width: 20%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.75),
		rgba(255, 255, 255, 0)
	);
}

header {
	background: rgb(183, 210, 128);
	background-image: radial-gradient(
			circle,
			rgba(183, 210, 128, 0.4257907542579076) 0%,
			rgba(3, 78, 11, 0.732360097323601) 100%
		),
		url("https://www.ghibli.jp/gallery/majo002.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 10px 0 20px 0;
}

.tributeHead {
	text-align: center;
	font-weight: 700;
	color: mintcream;
}

#title {
	font-size: 7em;
	letter-spacing: 5px;
	padding: 0.5em 0 0 0;
	text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

header h2 {
	font-size: 1.75em;
	letter-spacing: 0.15em;
	color: honeydew;
}

header h3 {
	font-size: 1.5em;
	letter-spacing: 0.2em;
	text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

header li {
	font-size: 1.25em;
	letter-spacing: 0.1em;
	color: white;
}
/******************************************
/* ABOUT SECTION
/*******************************************/
#tribute-info {
	display: flex;
	background-image: linear-gradient(
			180deg,
			rgba(231, 230, 241, 0.9266304347826086) 0%,
			rgba(147, 169, 173, 0.8505434782608696) 100%
		),
		url("https://wallpapercave.com/wp/wp3208337.jpg");
	font-size: 15px;
	color: black;
	padding: 0.75em 1.5em 0.75em 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#tribute-info h2 {
	width: 100%;
	height: 70px;
	overflow: hidden;
	position: absolute;
	margin: 1%;
	font-size: 2.1em;
	padding: 6px 20px 10px;
}

.container-sm {
	padding: 20px 10px 20px 10px;
	margin: 20px auto;
	display: flex;  
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	row-gap: 20px;
	
}
.para {
	height: 375px;
	width: 500px;
	border-radius: 10px;
	border: 1px solid skyblue;
	background: honeydew;
	padding: 10px 10px;
	margin: 2.5%;
	text-align: center;
}

.icons {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 5px auto;
	border-radius: 30%;
	max-height: 200px;
}

/****************************************
/* TIMELINE
/****************************************/
#timeline {
	display: flex;
	background-color: #031625;
}
#timeline #timeline:hover .tl-item {
	width: 23.3333%;
}
.tl-item {
	transform: translate3d(0, 0, 0);
	position: relative;
	width: auto;
	height: 50vh;
	min-height: 600px;
	color: #fff;
	overflow: hidden;
	transition: width 0.5s ease;
}
.tl-item :before,
.tl-item:after {
	transform: translate3d(0, 0, 0);
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.tl-item:after {
	background: rgba(3, 22, 37, 0.85);
	opacity: 1;
	transition: opacity 0.5s ease;
}
.tl-item:before {
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 75%
	);
	z-index: 1;
	opacity: 0;
	transform: translate3d(0, 0, 0) translateY(50%);
	transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
	width: 30% !important;
}
.tl-item:hover:after {
	opacity: 0;
}
.tl-item:hover:before {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateY(0);
	transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
	filter: grayscale(0);
}
.tl-content {
	transform: translate3d(0, 0, 0) translateY(25px);
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 1.618em;
	top: 55%;
	opacity: 0;
	border-radius: 15px;
	background-color: honeydew;
	padding: 10px;
	color: black;
}
.tl-content h1 {
	text-transform: uppercase;
	color: #1779cf;
	font-size: 1.44rem;
	font-weight: bold;
}
.tl-year {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.tl-year p {
	font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.728rem;
	line-height: 0;
}
.tl-bg {
	transform: translate3d(0, 0, 0);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	transition: filter 0.5s ease;
	filter: grayscale(100%);
}
/****************************************
/* IMAGE GRID
/*******************************************/
#img-div {
	display: flex;
	flex-flow: wrap;
	padding: 10px;
	width: 100%;
	background-image: linear-gradient(
			180deg,
			rgba(231, 230, 241, 0.9266304347826086) 0%,
			rgba(146, 207, 218, 0.22287193251533743) 100%
		),
		url("https://w.wallhaven.cc/full/76/wallhaven-76w1qv.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

figure {
	flex: 35%;
	width: 29.333%;
	text-align: center;
	color: black;
	margin: auto;
	padding: 10px;
}

figure > img {
	animation: fadeIn 5s;
}

#image {
	border-radius: 20px;
	margin: 8px;
	width: 100%;
	padding: 10px 0;
	height: auto;
}

.img-caption {
	position: relative;
	text-align: center;
	bottom: 5px;
	left: 16px;
	margin: auto;
}

/******************************************
/* ICON PUSH
/*******************************************/
footer:hover @-webkit-keyframes hvr-icon-push {
	50% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
@keyframes hvr-icon-push {
	50% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
.hvr-icon-push {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-icon-push .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-icon-push:hover .hvr-icon,
.hvr-icon-push:focus .hvr-icon,
.hvr-icon-push:active .hvr-icon {
	-webkit-animation-name: hvr-icon-push;
	animation-name: hvr-icon-push;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* On mobile, please make all sections stack  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main section {
		width: 100%;
	}

	.scenery {
		background-image: none;
		background-color: white;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	main section {
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	header {
		background-attachment: scroll;
		top: 30%;
	}
}
